Client/Connected Services/Serv/Serv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Serv" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServ_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServ_LoginForm_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginForm" />
  </wsdl:message>
  <wsdl:message name="IServ_LoginForm_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginFormResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_LoginForm_load_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginForm_load" />
  </wsdl:message>
  <wsdl:message name="IServ_LoginForm_load_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginForm_loadResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Fac_find_stud_InputMessage">
    <wsdl:part name="parameters" element="tns:Fac_find_stud" />
  </wsdl:message>
  <wsdl:message name="IServ_Fac_find_stud_OutputMessage">
    <wsdl:part name="parameters" element="tns:Fac_find_studResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Spec_find_stud_InputMessage">
    <wsdl:part name="parameters" element="tns:Spec_find_stud" />
  </wsdl:message>
  <wsdl:message name="IServ_Spec_find_stud_OutputMessage">
    <wsdl:part name="parameters" element="tns:Spec_find_studResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Sal_find_stud_InputMessage">
    <wsdl:part name="parameters" element="tns:Sal_find_stud" />
  </wsdl:message>
  <wsdl:message name="IServ_Sal_find_stud_OutputMessage">
    <wsdl:part name="parameters" element="tns:Sal_find_studResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_people_InputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_people" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_people_OutputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_peopleResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_students_InputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_students" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_students_OutputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_studentsResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_teachers_InputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_teachers" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_teachers_OutputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_teachersResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_staff_InputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_staff" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_staff_OutputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_staffResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_specials_InputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_specials" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_specials_OutputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_specialsResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_faculties_InputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_faculties" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_faculties_OutputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_facultiesResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_salary_InputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_salary" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_salary_OutputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_salaryResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Create_people_InputMessage">
    <wsdl:part name="parameters" element="tns:Create_people" />
  </wsdl:message>
  <wsdl:message name="IServ_Create_people_OutputMessage">
    <wsdl:part name="parameters" element="tns:Create_peopleResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_address_InputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_address" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_address_OutputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_addressResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_company_InputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_company" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_company_OutputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_companyResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Analysis_spec_fac_InputMessage">
    <wsdl:part name="parameters" element="tns:Analysis_spec_fac" />
  </wsdl:message>
  <wsdl:message name="IServ_Analysis_spec_fac_OutputMessage">
    <wsdl:part name="parameters" element="tns:Analysis_spec_facResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Find_Created_InputMessage">
    <wsdl:part name="parameters" element="tns:Find_Created" />
  </wsdl:message>
  <wsdl:message name="IServ_Find_Created_OutputMessage">
    <wsdl:part name="parameters" element="tns:Find_CreatedResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_card_number_InputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_card_number" />
  </wsdl:message>
  <wsdl:message name="IServ_Take_rows_card_number_OutputMessage">
    <wsdl:part name="parameters" element="tns:Take_rows_card_numberResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_people_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_people" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_people_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_peopleResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_students_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_students" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_students_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_studentsResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_teachers_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_teachers" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_teachers_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_teachersResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_staff_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_staff" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_staff_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_staffResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_specials_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_specials" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_specials_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_specialsResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_faculties_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_faculties" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_faculties_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_facultiesResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_salary_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_salary" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_salary_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_salaryResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_address_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_address" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_address_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_addressResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_company_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_company" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_company_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_companyResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_card_number_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_card_number" />
  </wsdl:message>
  <wsdl:message name="IServ_Update_table_card_number_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_table_card_numberResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Delete_table_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_table" />
  </wsdl:message>
  <wsdl:message name="IServ_Delete_table_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_tableResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Top_Sal_InputMessage">
    <wsdl:part name="parameters" element="tns:Top_Sal" />
  </wsdl:message>
  <wsdl:message name="IServ_Top_Sal_OutputMessage">
    <wsdl:part name="parameters" element="tns:Top_SalResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Exit_to_del_InputMessage">
    <wsdl:part name="parameters" element="tns:Exit_to_del" />
  </wsdl:message>
  <wsdl:message name="IServ_Exit_to_del_OutputMessage">
    <wsdl:part name="parameters" element="tns:Exit_to_delResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Delete_Online_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_Online" />
  </wsdl:message>
  <wsdl:message name="IServ_Delete_Online_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_OnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IServ_Plus_Mun50_InputMessage">
    <wsdl:part name="parameters" element="tns:Plus_Mun50" />
  </wsdl:message>
  <wsdl:message name="IServ_Plus_Mun50_OutputMessage">
    <wsdl:part name="parameters" element="tns:Plus_Mun50Response" />
  </wsdl:message>
  <wsdl:message name="IServ_Count_table_InputMessage">
    <wsdl:part name="parameters" element="tns:Count_table" />
  </wsdl:message>
  <wsdl:message name="IServ_Count_table_OutputMessage">
    <wsdl:part name="parameters" element="tns:Count_tableResponse" />
  </wsdl:message>
  <wsdl:portType name="IServ">
    <wsdl:operation name="LoginForm">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/LoginForm" message="tns:IServ_LoginForm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/LoginFormResponse" message="tns:IServ_LoginForm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginForm_load">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/LoginForm_load" message="tns:IServ_LoginForm_load_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/LoginForm_loadResponse" message="tns:IServ_LoginForm_load_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Fac_find_stud">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Fac_find_stud" message="tns:IServ_Fac_find_stud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Fac_find_studResponse" message="tns:IServ_Fac_find_stud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Spec_find_stud">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Spec_find_stud" message="tns:IServ_Spec_find_stud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Spec_find_studResponse" message="tns:IServ_Spec_find_stud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sal_find_stud">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Sal_find_stud" message="tns:IServ_Sal_find_stud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Sal_find_studResponse" message="tns:IServ_Sal_find_stud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Take_rows_people">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Take_rows_people" message="tns:IServ_Take_rows_people_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Take_rows_peopleResponse" message="tns:IServ_Take_rows_people_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Take_rows_students">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Take_rows_students" message="tns:IServ_Take_rows_students_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Take_rows_studentsResponse" message="tns:IServ_Take_rows_students_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Take_rows_teachers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Take_rows_teachers" message="tns:IServ_Take_rows_teachers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Take_rows_teachersResponse" message="tns:IServ_Take_rows_teachers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Take_rows_staff">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Take_rows_staff" message="tns:IServ_Take_rows_staff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Take_rows_staffResponse" message="tns:IServ_Take_rows_staff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Take_rows_specials">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Take_rows_specials" message="tns:IServ_Take_rows_specials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Take_rows_specialsResponse" message="tns:IServ_Take_rows_specials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Take_rows_faculties">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Take_rows_faculties" message="tns:IServ_Take_rows_faculties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Take_rows_facultiesResponse" message="tns:IServ_Take_rows_faculties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Take_rows_salary">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Take_rows_salary" message="tns:IServ_Take_rows_salary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Take_rows_salaryResponse" message="tns:IServ_Take_rows_salary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create_people">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Create_people" message="tns:IServ_Create_people_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Create_peopleResponse" message="tns:IServ_Create_people_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Take_rows_address">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Take_rows_address" message="tns:IServ_Take_rows_address_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Take_rows_addressResponse" message="tns:IServ_Take_rows_address_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Take_rows_company">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Take_rows_company" message="tns:IServ_Take_rows_company_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Take_rows_companyResponse" message="tns:IServ_Take_rows_company_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Analysis_spec_fac">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Analysis_spec_fac" message="tns:IServ_Analysis_spec_fac_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Analysis_spec_facResponse" message="tns:IServ_Analysis_spec_fac_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find_Created">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Find_Created" message="tns:IServ_Find_Created_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Find_CreatedResponse" message="tns:IServ_Find_Created_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Take_rows_card_number">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Take_rows_card_number" message="tns:IServ_Take_rows_card_number_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Take_rows_card_numberResponse" message="tns:IServ_Take_rows_card_number_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_table_people">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Update_table_people" message="tns:IServ_Update_table_people_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Update_table_peopleResponse" message="tns:IServ_Update_table_people_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_table_students">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Update_table_students" message="tns:IServ_Update_table_students_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Update_table_studentsResponse" message="tns:IServ_Update_table_students_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_table_teachers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Update_table_teachers" message="tns:IServ_Update_table_teachers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Update_table_teachersResponse" message="tns:IServ_Update_table_teachers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_table_staff">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Update_table_staff" message="tns:IServ_Update_table_staff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Update_table_staffResponse" message="tns:IServ_Update_table_staff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_table_specials">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Update_table_specials" message="tns:IServ_Update_table_specials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Update_table_specialsResponse" message="tns:IServ_Update_table_specials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_table_faculties">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Update_table_faculties" message="tns:IServ_Update_table_faculties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Update_table_facultiesResponse" message="tns:IServ_Update_table_faculties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_table_salary">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Update_table_salary" message="tns:IServ_Update_table_salary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Update_table_salaryResponse" message="tns:IServ_Update_table_salary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_table_address">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Update_table_address" message="tns:IServ_Update_table_address_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Update_table_addressResponse" message="tns:IServ_Update_table_address_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_table_company">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Update_table_company" message="tns:IServ_Update_table_company_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Update_table_companyResponse" message="tns:IServ_Update_table_company_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_table_card_number">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Update_table_card_number" message="tns:IServ_Update_table_card_number_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Update_table_card_numberResponse" message="tns:IServ_Update_table_card_number_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_table">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Delete_table" message="tns:IServ_Delete_table_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Delete_tableResponse" message="tns:IServ_Delete_table_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Top_Sal">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Top_Sal" message="tns:IServ_Top_Sal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Top_SalResponse" message="tns:IServ_Top_Sal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Exit_to_del">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Exit_to_del" message="tns:IServ_Exit_to_del_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Exit_to_delResponse" message="tns:IServ_Exit_to_del_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Online">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Delete_Online" message="tns:IServ_Delete_Online_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Delete_OnlineResponse" message="tns:IServ_Delete_Online_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Plus_Mun50">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Plus_Mun50" message="tns:IServ_Plus_Mun50_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Plus_Mun50Response" message="tns:IServ_Plus_Mun50_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Count_table">
      <wsdl:input wsaw:Action="http://tempuri.org/IServ/Count_table" message="tns:IServ_Count_table_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServ/Count_tableResponse" message="tns:IServ_Count_table_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServ" type="tns:IServ">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginForm">
      <soap:operation soapAction="http://tempuri.org/IServ/LoginForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginForm_load">
      <soap:operation soapAction="http://tempuri.org/IServ/LoginForm_load" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fac_find_stud">
      <soap:operation soapAction="http://tempuri.org/IServ/Fac_find_stud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Spec_find_stud">
      <soap:operation soapAction="http://tempuri.org/IServ/Spec_find_stud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sal_find_stud">
      <soap:operation soapAction="http://tempuri.org/IServ/Sal_find_stud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_people">
      <soap:operation soapAction="http://tempuri.org/IServ/Take_rows_people" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_students">
      <soap:operation soapAction="http://tempuri.org/IServ/Take_rows_students" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_teachers">
      <soap:operation soapAction="http://tempuri.org/IServ/Take_rows_teachers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_staff">
      <soap:operation soapAction="http://tempuri.org/IServ/Take_rows_staff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_specials">
      <soap:operation soapAction="http://tempuri.org/IServ/Take_rows_specials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_faculties">
      <soap:operation soapAction="http://tempuri.org/IServ/Take_rows_faculties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_salary">
      <soap:operation soapAction="http://tempuri.org/IServ/Take_rows_salary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_people">
      <soap:operation soapAction="http://tempuri.org/IServ/Create_people" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_address">
      <soap:operation soapAction="http://tempuri.org/IServ/Take_rows_address" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_company">
      <soap:operation soapAction="http://tempuri.org/IServ/Take_rows_company" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Analysis_spec_fac">
      <soap:operation soapAction="http://tempuri.org/IServ/Analysis_spec_fac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Find_Created">
      <soap:operation soapAction="http://tempuri.org/IServ/Find_Created" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_card_number">
      <soap:operation soapAction="http://tempuri.org/IServ/Take_rows_card_number" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_people">
      <soap:operation soapAction="http://tempuri.org/IServ/Update_table_people" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_students">
      <soap:operation soapAction="http://tempuri.org/IServ/Update_table_students" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_teachers">
      <soap:operation soapAction="http://tempuri.org/IServ/Update_table_teachers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_staff">
      <soap:operation soapAction="http://tempuri.org/IServ/Update_table_staff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_specials">
      <soap:operation soapAction="http://tempuri.org/IServ/Update_table_specials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_faculties">
      <soap:operation soapAction="http://tempuri.org/IServ/Update_table_faculties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_salary">
      <soap:operation soapAction="http://tempuri.org/IServ/Update_table_salary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_address">
      <soap:operation soapAction="http://tempuri.org/IServ/Update_table_address" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_company">
      <soap:operation soapAction="http://tempuri.org/IServ/Update_table_company" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_card_number">
      <soap:operation soapAction="http://tempuri.org/IServ/Update_table_card_number" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_table">
      <soap:operation soapAction="http://tempuri.org/IServ/Delete_table" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Top_Sal">
      <soap:operation soapAction="http://tempuri.org/IServ/Top_Sal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exit_to_del">
      <soap:operation soapAction="http://tempuri.org/IServ/Exit_to_del" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Online">
      <soap:operation soapAction="http://tempuri.org/IServ/Delete_Online" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Plus_Mun50">
      <soap:operation soapAction="http://tempuri.org/IServ/Plus_Mun50" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Count_table">
      <soap:operation soapAction="http://tempuri.org/IServ/Count_table" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServ" type="tns:IServ">
    <wsp:PolicyReference URI="#NetTcpBinding_IServ_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="LoginForm">
      <soap12:operation soapAction="http://tempuri.org/IServ/LoginForm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginForm_load">
      <soap12:operation soapAction="http://tempuri.org/IServ/LoginForm_load" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fac_find_stud">
      <soap12:operation soapAction="http://tempuri.org/IServ/Fac_find_stud" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Spec_find_stud">
      <soap12:operation soapAction="http://tempuri.org/IServ/Spec_find_stud" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sal_find_stud">
      <soap12:operation soapAction="http://tempuri.org/IServ/Sal_find_stud" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_people">
      <soap12:operation soapAction="http://tempuri.org/IServ/Take_rows_people" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_students">
      <soap12:operation soapAction="http://tempuri.org/IServ/Take_rows_students" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_teachers">
      <soap12:operation soapAction="http://tempuri.org/IServ/Take_rows_teachers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_staff">
      <soap12:operation soapAction="http://tempuri.org/IServ/Take_rows_staff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_specials">
      <soap12:operation soapAction="http://tempuri.org/IServ/Take_rows_specials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_faculties">
      <soap12:operation soapAction="http://tempuri.org/IServ/Take_rows_faculties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_salary">
      <soap12:operation soapAction="http://tempuri.org/IServ/Take_rows_salary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_people">
      <soap12:operation soapAction="http://tempuri.org/IServ/Create_people" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_address">
      <soap12:operation soapAction="http://tempuri.org/IServ/Take_rows_address" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_company">
      <soap12:operation soapAction="http://tempuri.org/IServ/Take_rows_company" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Analysis_spec_fac">
      <soap12:operation soapAction="http://tempuri.org/IServ/Analysis_spec_fac" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Find_Created">
      <soap12:operation soapAction="http://tempuri.org/IServ/Find_Created" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take_rows_card_number">
      <soap12:operation soapAction="http://tempuri.org/IServ/Take_rows_card_number" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_people">
      <soap12:operation soapAction="http://tempuri.org/IServ/Update_table_people" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_students">
      <soap12:operation soapAction="http://tempuri.org/IServ/Update_table_students" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_teachers">
      <soap12:operation soapAction="http://tempuri.org/IServ/Update_table_teachers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_staff">
      <soap12:operation soapAction="http://tempuri.org/IServ/Update_table_staff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_specials">
      <soap12:operation soapAction="http://tempuri.org/IServ/Update_table_specials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_faculties">
      <soap12:operation soapAction="http://tempuri.org/IServ/Update_table_faculties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_salary">
      <soap12:operation soapAction="http://tempuri.org/IServ/Update_table_salary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_address">
      <soap12:operation soapAction="http://tempuri.org/IServ/Update_table_address" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_company">
      <soap12:operation soapAction="http://tempuri.org/IServ/Update_table_company" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_table_card_number">
      <soap12:operation soapAction="http://tempuri.org/IServ/Update_table_card_number" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_table">
      <soap12:operation soapAction="http://tempuri.org/IServ/Delete_table" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Top_Sal">
      <soap12:operation soapAction="http://tempuri.org/IServ/Top_Sal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exit_to_del">
      <soap12:operation soapAction="http://tempuri.org/IServ/Exit_to_del" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Online">
      <soap12:operation soapAction="http://tempuri.org/IServ/Delete_Online" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Plus_Mun50">
      <soap12:operation soapAction="http://tempuri.org/IServ/Plus_Mun50" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Count_table">
      <soap12:operation soapAction="http://tempuri.org/IServ/Count_table" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Serv">
    <wsdl:port name="BasicHttpBinding_IServ" binding="tns:BasicHttpBinding_IServ">
      <soap:address location="http://localhost:8080/Serv" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServ" binding="tns:NetTcpBinding_IServ">
      <soap12:address location="net.tcp://localhost:3307/Serv" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:3307/Serv</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-L1EDO92\Данил</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>